* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
li{
padding: 2%;
}
a {
  text-decoration: none;
}
#toolbar__logo{
  padding: 0;
  display: flex;
  width: 20%;
  align-items: center;
}
